.main {
  max-width: 1850px;
  margin: 0 auto;
  padding: 20px;
}

.allBooks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.oneBook {
  display: flex;
  padding: 15px;
}

.bookImage {
  width: 400px;
  height: 600px;
  padding: 20px;
}
